<div class="container" id="ad">
  <div class="alert alert-success" role="alert"><a href="http://fc2search.wackwack.net"><strong>FC2アダルト動画検索サービス</strong>始めました！！（ここをクリック）</a></div>
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <iframe class="ad" src="http://blogparts.dmm.com/ranking?adid=e7bcbe16fd76aa6eb4c5c1c3c54e8a15" height="175" width="500" scrolling="no" frameborder="0">
        この部分は iframe 対応のブラウザで見てください。
      </iframe>
    </div>
    <div class="col-xs-12 hidden-lg">
      <a href="http://www.dmm.co.jp/digital/videoa/quotto-003" target="_blank"><img src="http://pics.dmm.com/af/a_digi/300_60.jpg" width="300" height="60" alt="アダルト動画" border="0"></a>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="sns-group">
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <a href="http://b.hatena.ne.jp/entry/sampler.wackwack.net" class="hatena-bookmark-button" data-hatena-bookmark-title="FC2Search" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

      <div class="fb-like" data-href="http://sampler.wackwack.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22786828-8', 'auto');
  ga('send', 'pageview');

</script>
