<div id="footer">
<iframe class="ad" src="http://blogparts.dmm.com/ranking?adid=e7bcbe16fd76aa6eb4c5c1c3c54e8a15" height="175" width="500" scrolling="no" frameborder="0">
この部分は iframe 対応のブラウザで見てください。
</iframe>
</div>
