<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-form" arial-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/sampler">DMM Sampler<span class="hidden-xs small"   -DMMのサンプル動画をランダムに検索-</span></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-form">
    <%= render partial: 'search_navbar_form_smartphone' %>
  </div>
</div>
</nav>

<div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title">おすすめワード</span><span class="modal-title-comment">（5秒ごとに更新されます）</span>
      </div>
      <div class="modal-body">
        <button>button</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
