<%= render 'header' %>
<div class="container" id="container">
  <%= render 'search_form' %>
  <div id="query"><%= @query %></div>
  <div id="videoCarousel" class="carousel slide">
    <div class="carousel-inner">
    </div>
    <a class="left carousel-control" href="#videoCarousel" data-slide="prev"><span class="glyphicon glyphicon-step-backward"></span></a>
    <a class="right carousel-control" href="#videoCarousel" data-slide="next"><span class="glyphicon glyphicon-step-forward"></span></a>
  </div>
  <div class="refresh"><a id="refreshLink" href="javascript:refreshList()"><span class="glyphicon glyphicon-repeat">リストを更新</span></a></div>
  <div id="selectorCarousel" class="carousel slide">
    <div class="carousel-inner">
    </div>
    <a class="left carousel-control" href="#selectorCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#selectorCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<script type="text/javascript">
  $('.carousel').carousel({
    interval: false
  })
  //選択サムネイルのマークアップ処理
  $('#videoCarousel').on('slid.bs.carousel',function() {
    var num = $('#videoCarousel div.active').attr('name');
    jQuery.each($('div.selector_item'),function(){
      $(this).css('background','');
    });
    $('#selectorCarousel div.selector_item[name=' + num +']').css('background','rgba(255,0,0,0.7)');
  });
  $('img[rel=thumbnail]').tooltip();
  $('div.selector_item').click(function(){
    console.log("click");
    jQuery.each($('div.selector_item'),function(){
      $(this).css('background','');
    });
    $(this).css('background','rgba(255,0,0,0.7)');
  });
  // 初期表示時は最初のサムネイルをマークアップする
  $('div.selector_item:first').css('background','rgba(255,0,0,0.7)');
  refreshList();
  selectionQuery();
  window.setInterval(selectionQuery,5000);
</script>